<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_tank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,350},{53,176}}</string>
                <key>offset</key>
                <string>{-18,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,199},{53,176}}</string>
                <key>sourceSize</key>
                <string>{409,430}</string>
            </dict>
            <key>die_tank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,356},{131,288}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,37},{131,288}}</string>
                <key>sourceSize</key>
                <string>{409,430}</string>
            </dict>
            <key>die_tank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,307},{201,286}}</string>
                <key>offset</key>
                <string>{12,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{201,286}}</string>
                <key>sourceSize</key>
                <string>{409,430}</string>
            </dict>
            <key>die_tank_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,489},{263,270}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{263,270}}</string>
                <key>sourceSize</key>
                <string>{409,430}</string>
            </dict>
            <key>die_tank_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{303,234}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,77},{303,234}}</string>
                <key>sourceSize</key>
                <string>{409,430}</string>
            </dict>
            <key>die_tank_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{333,294}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,75},{333,294}}</string>
                <key>sourceSize</key>
                <string>{409,430}</string>
            </dict>
            <key>die_tank_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{367,352}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,74},{367,352}}</string>
                <key>sourceSize</key>
                <string>{409,430}</string>
            </dict>
            <key>die_tank_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,346}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,73},{395,346}}</string>
                <key>sourceSize</key>
                <string>{409,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die_tank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a8a834d9860ce5bf26b7f0623e64bad:1/1$</string>
            <key>textureFileName</key>
            <string>die_tank.png</string>
        </dict>
    </dict>
</plist>
