<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_motorcycle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,346},{63,104}}</string>
                <key>offset</key>
                <string>{-20,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,171},{63,104}}</string>
                <key>sourceSize</key>
                <string>{411,346}</string>
            </dict>
            <key>die_motorcycle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,165},{111,146}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,66},{111,146}}</string>
                <key>sourceSize</key>
                <string>{411,346}</string>
            </dict>
            <key>die_motorcycle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{161,138}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,8},{161,138}}</string>
                <key>sourceSize</key>
                <string>{411,346}</string>
            </dict>
            <key>die_motorcycle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{227,136}}</string>
                <key>offset</key>
                <string>{9,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,13},{227,136}}</string>
                <key>sourceSize</key>
                <string>{411,346}</string>
            </dict>
            <key>die_motorcycle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,278},{261,168}}</string>
                <key>offset</key>
                <string>{7,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,32},{261,168}}</string>
                <key>sourceSize</key>
                <string>{411,346}</string>
            </dict>
            <key>die_motorcycle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{295,172}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,118},{295,172}}</string>
                <key>sourceSize</key>
                <string>{411,346}</string>
            </dict>
            <key>die_motorcycle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{339,114}}</string>
                <key>offset</key>
                <string>{10,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,206},{339,114}}</string>
                <key>sourceSize</key>
                <string>{411,346}</string>
            </dict>
            <key>die_motorcycle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{363,52}}</string>
                <key>offset</key>
                <string>{4,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,267},{363,52}}</string>
                <key>sourceSize</key>
                <string>{411,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die_motorcycle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48f1b8bfe0f89cff6c8d864498c14f79:1/1$</string>
            <key>textureFileName</key>
            <string>die_motorcycle.png</string>
        </dict>
    </dict>
</plist>
