<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_guizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{66,135}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,58},{66,135}}</string>
                <key>sourceSize</key>
                <string>{342,255}</string>
            </dict>
            <key>die_guizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,217},{82,111}}</string>
                <key>offset</key>
                <string>{13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,40},{82,111}}</string>
                <key>sourceSize</key>
                <string>{342,255}</string>
            </dict>
            <key>die_guizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,70},{134,99}}</string>
                <key>offset</key>
                <string>{8,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,4},{134,99}}</string>
                <key>sourceSize</key>
                <string>{342,255}</string>
            </dict>
            <key>die_guizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,171},{188,97}}</string>
                <key>offset</key>
                <string>{12,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,7},{188,97}}</string>
                <key>sourceSize</key>
                <string>{342,255}</string>
            </dict>
            <key>die_guizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{240,77}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,46},{240,77}}</string>
                <key>sourceSize</key>
                <string>{342,255}</string>
            </dict>
            <key>die_guizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{286,73}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,108},{286,73}}</string>
                <key>sourceSize</key>
                <string>{342,255}</string>
            </dict>
            <key>die_guizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{334,87}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,153},{334,87}}</string>
                <key>sourceSize</key>
                <string>{342,255}</string>
            </dict>
            <key>die_guizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,49}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,202},{336,49}}</string>
                <key>sourceSize</key>
                <string>{342,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die_guizi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8fb2ef9692cc9fa33f1be3bec1da0d6:1/1$</string>
            <key>textureFileName</key>
            <string>die_guizi.png</string>
        </dict>
    </dict>
</plist>
