<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{125,106}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{125,106}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>guizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{129,104}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{129,104}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>guizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,239},{127,98}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{127,98}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>guizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,368},{127,96}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{127,96}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>guizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{129,104}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>guizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,133},{127,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{127,104}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>guizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{129,100}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{129,100}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>guizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{129,100}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{129,100}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guizi.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c8244a2fea934abc4ca708dafa4129e:1/1$</string>
            <key>textureFileName</key>
            <string>guizi.png</string>
        </dict>
    </dict>
</plist>
