<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mine3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,88}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{72,88}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>mine3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{66,84}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{66,84}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>mine3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,60},{56,80}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{56,80}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>mine3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,92},{66,84}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{66,84}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>mine3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{70,88}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{70,88}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>mine3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{66,84}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{66,84}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>mine3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{56,80}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{56,80}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>mine3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,178},{62,82}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{62,82}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mine3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:636086ad147d8dd5aebba398d8529620:1/1$</string>
            <key>textureFileName</key>
            <string>mine3.png</string>
        </dict>
    </dict>
</plist>
