<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mine1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{73,74}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{73,74}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>mine1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{67,70}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{67,70}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>mine1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{57,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{57,64}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>mine1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,76},{61,68}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{61,68}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>mine1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{69,76}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>mine1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{65,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{65,72}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>mine1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,146},{57,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{57,64}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>mine1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,156},{61,68}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{61,68}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mine1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fc75b65bebd7cfc62c6f211c40fbd87:1/1$</string>
            <key>textureFileName</key>
            <string>mine1.png</string>
        </dict>
    </dict>
</plist>
