<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mine5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{80,76}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>mine5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{72,72}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{72,72}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>mine5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,146},{64,68}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{64,68}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>mine5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{70,72}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{70,72}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>mine5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{76,76}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{76,76}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>mine5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,76},{70,72}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{70,72}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>mine5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,80},{64,68}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{64,68}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>mine5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{66,68}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{66,68}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mine5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7922adf13c27f833193ccb06881473b:1/1$</string>
            <key>textureFileName</key>
            <string>mine5.png</string>
        </dict>
    </dict>
</plist>
