<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,620},{378,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{378,208}}</string>
                <key>sourceSize</key>
                <string>{390,208}</string>
            </dict>
            <key>car_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{382,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{382,208}}</string>
                <key>sourceSize</key>
                <string>{390,208}</string>
            </dict>
            <key>car_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{384,206}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{384,206}}</string>
                <key>sourceSize</key>
                <string>{390,208}</string>
            </dict>
            <key>car_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{388,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{388,204}}</string>
                <key>sourceSize</key>
                <string>{390,208}</string>
            </dict>
            <key>car_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,202}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{390,202}}</string>
                <key>sourceSize</key>
                <string>{390,208}</string>
            </dict>
            <key>car_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{388,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{388,204}}</string>
                <key>sourceSize</key>
                <string>{390,208}</string>
            </dict>
            <key>car_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,208},{384,206}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{384,206}}</string>
                <key>sourceSize</key>
                <string>{390,208}</string>
            </dict>
            <key>car_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{382,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{382,208}}</string>
                <key>sourceSize</key>
                <string>{390,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>car.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e666dd923db25f04bfe2eda7a48e2cff:1/1$</string>
            <key>textureFileName</key>
            <string>car.png</string>
        </dict>
    </dict>
</plist>
