<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>motorcycle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,458},{208,152}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{208,152}}</string>
                <key>sourceSize</key>
                <string>{248,154}</string>
            </dict>
            <key>motorcycle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{210,152}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{210,152}}</string>
                <key>sourceSize</key>
                <string>{248,154}</string>
            </dict>
            <key>motorcycle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{216,152}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{216,152}}</string>
                <key>sourceSize</key>
                <string>{248,154}</string>
            </dict>
            <key>motorcycle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,152},{216,150}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{216,150}}</string>
                <key>sourceSize</key>
                <string>{248,154}</string>
            </dict>
            <key>motorcycle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,146}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{220,146}}</string>
                <key>sourceSize</key>
                <string>{248,154}</string>
            </dict>
            <key>motorcycle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{218,148}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{218,148}}</string>
                <key>sourceSize</key>
                <string>{248,154}</string>
            </dict>
            <key>motorcycle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{214,150}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{214,150}}</string>
                <key>sourceSize</key>
                <string>{248,154}</string>
            </dict>
            <key>motorcycle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,304},{212,152}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{212,152}}</string>
                <key>sourceSize</key>
                <string>{248,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>motorcycle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0e33567d9f654271af05f52dc9b3b17:1/1$</string>
            <key>textureFileName</key>
            <string>motorcycle.png</string>
        </dict>
    </dict>
</plist>
