<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,456},{333,221}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{333,221}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
            <key>tank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{333,225}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{333,225}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
            <key>tank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{333,231}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{333,231}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
            <key>tank_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{333,225}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{333,225}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
            <key>tank_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,235},{333,221}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{333,221}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
            <key>tank_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,229},{333,225}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{333,225}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
            <key>tank_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,231}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{333,231}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
            <key>tank_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{333,225}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{333,225}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33140d5538dff4da41942ffc16e1c543:1/1$</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
